body {
    text-align: center;
    background: rgba(50, 171, 219, 0.2);
    padding: 10px;
    height:100%;
    width:50%;
    margin:auto;
} 
form#formPos.form-control{
    margin-top: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    padding: 10px;
}
input[type=text]:focus {
    border: 3px solid #555;
}